{{#with post}}
  {{! ao inves de acessar post.titulo, apenas acessa o titulo  }}
  <h1>{{titulo}}</h1>
  <h1>{{categoria}}</h1>
  <h1>{{body}}</h1>
  <h1>Numero de comentarios: {{comentarios}}</h1>
{{/with}}

<a href="/">Voltar</a>
