<h1>Edite seu livro:</h1>
<form class="form" action="/livro/updatelivro" method="POST">
  <input type="hidden" name="id" value="{{livro.id}}" />
  <div class="form-control">
    <label for="titulo">Título:</label>
    <input
      type="text"
      name="titulo"
      placeholder="Informe o titulo!"
      value="{{livro.titulo}}"
    />
  </div>
  <div class="form-control">
    <label for="qtdpaginas">Quantidade de paginas:</label>
    <input
      type="number"
      name="qtdpaginas"
      placeholder="Informe a quantidade de paginas!"
      value="{{livro.qtdpaginas}}"
    />
  </div>
  <input type="submit" value="Editar" />
</form>