<div id="livro-page">
  <div class="container">
    <h1>
      {{livro.titulo}}
    </h1>
    <p>Este livro possui {{livro.qtdpaginas}} paginas!</p>
    <div class="actions">
      <a href="/livro/editar/{{livro.id}}">Editar</a>

      <form action="/livro/delete/{{livro.id}}" method="POST">
        <input type="submit" value="Remover" />
      </form>
    </div>
  </div>

</div>

<p>
  <a href="/livros">Voltar</a>
</p>