<div id="livro-page">
    <div class="container">
        <h1>
            {{livro.titulo}}
        </h1>
        <p>Este livro possui {{livro.qtdpaginas}} paginas!</p>
    </div>
</div>

<p>
  <a href="/livros">Voltar</a>
</p>